*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
:root{
    --VeryDarkBlue: hsl(243, 87%, 12%);
    --DesaturatedBlue: hsl(238, 22%, 44%);
    --BrightBlue: hsl(224, 93%, 58%);
    --ModerateCyan: hsl(170, 45%, 43%);
    --LightGrayishBlue: hsl(240, 75%, 98%);
    --LightGray: hsl(0, 0%, 75%);
}

body{
    font-family: 'Open Sans', sans-serif;
} 
h1,h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
header{
    padding: 2em 4em;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display:flex;
    align-items: center;
    gap:4em;
}
nav a{
    text-decoration: none;
    color:hsl(238, 22%, 44%);
}
main{
    display: flex;
    align-items: center;
    margin:1em auto;
    padding: 1em 2em;
}
.main-text{
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2em;
    padding:2em;
    width: 50%;
}
main img{
    width:50%;
    height:100%;
    order: 2;
    padding: 0 2em;
}
.stay-productive{
    display: flex;
    align-items: center;
    padding: 2em;
    gap: 2em;
    background-size:cover;
    background-repeat: repeat;
}
.section-text{
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
    order: 1;
}
.section-text a{
    text-decoration: none;
    color:hsl(170, 45%, 43%);
}
.illustration2{
    order:2;
    width:50%;
    height: 100%;
    padding: 0 2em;
}
.testimonial{
    width: 50%;
    padding: 2em;
    border:none;
    border-radius: 1em;
    box-shadow: 0 0 1em hsl(238, 22%, 44%, 0.4);
    font-size: 13px;
}
.testimonial i> img{
    width:20px;
    height: 20px;
    padding:0;
}
#avatar{
    order: 1;
    width:30px;
    height:30px;
    margin-right: 1em;
    border-radius: 50%;
}
.name{
    display: flex;
    align-items: center;
    justify-content: left;
}
.name p{
    order: 2;
    margin: 1em 0;
    text-align: left;
}
.last-section{
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7em;
    background-color:var(--DesaturatedBlue);
    color: var(--LightGrayishBlue);
}
.last-section-text{
    width: 50%;
    padding: 2em;
}
.last-section-text h2{
    margin-bottom: 1em;
}
.last-section form{
    width: 50%;
    display: flex;
    flex-direction: column;
}
footer{
    padding:2em;
    background-color: var(--VeryDarkBlue);
    color:var(--LightGrayishBlue);
}
footer .logo{
    margin-left:2em;
}
.footer-columns{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 2em;
}
.col1, .col2, .col3{
    display: flex;
    flex-direction: column;
    gap:1em;
}
.col1 img{
    margin-right: 1em;
}
.col2 a, .col3  a{
    color:var(--LightGrayishBlue);
    text-decoration: none;
}
.col4 i{
    margin-right: 1em;
    cursor: pointer;
}

#email{
    width: 20em;
    height: 3em;
    padding:0.3em 0.5em;
    border:0.01em solid var(--DesaturatedBlue);
    box-shadow: 0.5em 0.5em 0.8em hsl(238, 22%, 44%, 0.2);
    margin: 1em 1em 1em 0;
}

#get-started{
    text-align: center;
    height: 3em;
    width: 10em;
    background-color: var(--BrightBlue);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color:var(--LightGrayishBlue);
    border:none;
    box-shadow: 0.5em 0.5em 0.8em hsl(238, 22%, 44%, 0.2);
    cursor: pointer;
}
#email2{
    width:30em;
    height: 3em;
    margin-bottom:1em;
    border:none;
    padding:0.3em 0.5em;
    box-shadow: 0.6em 0.6em 1em hsl(243, 87%, 12%, 0.5);
}

#get-started-for-free{
    text-align: center;
    height: 3em;
    width: 15em;
    background-color: var(--BrightBlue);
    color:var(--LightGrayishBlue);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border:none;
    box-shadow: 0.6em 0.6em 1em hsl(243, 87%, 12%, 0.5);
    cursor: pointer;
}


@media (max-width:768px){
    header{
        justify-content: space-between;
        align-items: center;
        padding-left: 2em;
        padding-right: 2em;
    }
    header img{
        padding:0;
        width:100px;
    }
    nav{
        align-items: center;
        gap: 1em;
        font-size: 13px;
    }
    main{
        width: 100%;
        flex-direction: column;
        padding:1em;
    }
    .main-text{
        order:2;
        width:100%;
        text-align: center;
    }
    main img{
        width: 100%;
        height:100%;
    }
    .stay-productive{
        flex-direction: column;
        text-align: center;
    }
    .illustration2{
        order: 1;
        width:100%;
    }
    .testimonial{
        width: 100%;
    }
    .last-section{
        flex-direction: column;
        text-align: center;
        gap:0;
    }
    .last-section-text{
        width:100%;
    }
    .last-section form{
        width:100%;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:1em;
    }
    #email2{
        width: 80%;
    }
    .footer-columns{
        flex-direction: column;
        gap: 2em;
    }
    .col4{
        margin: 0 auto;
    }
}
